# App
NODE_ENV=development
PORT=3000
APP_URL=http://localhost:3000

# API Gateway
GATEWAY_PORT=4000
CORE_SERVICE_URL=http://localhost:3000
NOTIFICATION_SERVICE_URL=http://localhost:3001

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=neobank
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSL=false

# JWT
JWT_ACCESS_SECRET=replace-me-with-long-secret
JWT_REFRESH_SECRET=replace-me-with-long-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

# Encryption
ENCRYPTION_KEY=32-character-long-secret-key-123
ENCRYPTION_IV_LENGTH=16

# Redis (Future Phase)
REDIS_URL=redis://localhost:6379
